<div id="component-signup" class="container-pink">
    <form>
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" [(ngModel)]="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" name="password" [(ngModel)]="password">
        </div>
        <div>
            <button type="submit" (click)="createUser()">Go</button>
        </div>
        <div class="errorInput" *ngIf="error">
           {{errorMsg}} 
        </div>
    </form>
</div>