<div class="list container-pink">
    <div>{{list.list}} -</div>
    <div class="items">
        <app-item *ngFor="let item of list.items" [item]=item
            (eventEditItem)="editItem($event)"
            (eventMoveItem)="moveItem($event)"
            (eventRmvItem)="rmvItem($event)">
        </app-item>
    </div>
    <div class="container-add-item"> 
        <div class="add-item container-white" *ngIf="editState.add">
            <input type="text" name="item" [(ngModel)]="itemAdded"/>
            <div class="item-options options">
                <div (click)="cancelEdit()">Cancel</div>
                <div (click)="addItem()">Add</div>
            </div>
        </div>
    </div>
    <app-list-options (eventEditList)="enableEdit($event)"
        [optionsExpanded]="optionsExpanded"
        [optionEnabled]="optionEnabled"
        (eventOptionsExpanded)="setOptionsExpanded($event)">
    </app-list-options>
</div>
