@mixin app($size) {
    #app {
        @if $size == 'global' {
            width: 100%;
            header {
                margin-left: auto;
                margin-right: auto;
            }
            header .logo {
               color: map-get($colors, customwhite)
            } 
            header .utility {
                padding: 0.5rem 1rem;
                cursor: pointer;
            }
            #content {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }
        }
        @else if $size == 'small' {
            header .logo {
                font-size: 2rem;
            }
        }
        @else if $size == 'landscape' {
            header {
                width: 50%;
            }
        }
        @else if $size == 'med' {
            header {
                width: 60%;
            }
            header .logo {
                font-size: 2rem;
            }
        }
        @else if $size == 'large' {
            
        }
        @else if $size == 'xLarge' {
           header {
               width: 30%;
           } 
        }
    }
}