@mixin classes($size) {
    @if $size == 'global' {
        .container-single-col-start-start{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .container-single-col-start-center {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
        }
        .container-pink {
            background-color: map-get($colors, secondary);
            border-radius: 4px;
        }
        .container-white{
            background-color: map-get($colors, customwhite);
            border: solid map-get($colors, primary);
            border-radius: 4px;
            border-width: thin;
        }
        .options {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            width: min-content; 
            color: map-get($colors, primary);
        }
        .options > div {
            width: min-content;
            height: min-content;
            white-space: nowrap;
            padding: 0px 0.4rem;
            cursor: pointer;
        }
        .options > div:not(:last-child) {
            border-right: solid map-get($colors, primary);
            border-width: thin;
        }
        .btn-options {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
        }
        .circle {
            background: map-get($colors, primary);
            border-radius: 50%;
        }
        #btn-create-list {
            background-color: map-get($colors, secondary);
            border-radius: 4px;
            height: min-content;
        }
        .btn-submit {
            color: green;
            cursor: pointer;
        }
        .btn-cancel {
            color: red;
            cursor: pointer;
        }
    }
    @else if $size == 'small' {
       .circle {
           width: 0.5rem;
           height: 0.5rem;
           margin-right: 1px;
        } 
        #btn-create-list {
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            padding-left: 0.25rem;
        }
    }
    @else if $size == 'landscape' {

    }
    @else if $size == 'med' {
        
    }
    @else if $size == 'large' {
        
    }
    @else if $size == 'xLarge' {
        
    }
}