@mixin portal($size) {
    #component-portal {
        @if $size == 'global' {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;
        }
        @else if $size == 'small' {
            margin: 1rem 0 0 0;
            padding: 2rem 1rem 4rem 1rem;
            height: 40rem; 
            width: 90vw;
            font-size: 2.5rem;
        }
        @else if $size == 'landscape' {
            margin: 1rem 0 0 0;
            padding: 1.5rem 1rem 2rem 1rem;
            height: 18rem; 
            width: 40vw;
            font-size: 1.5rem;
        }
        @else if $size == 'med' {
            margin: 3rem 0 0 0;
            padding: 2rem 1rem 4rem 1rem;
            height: 35rem; 
            width: 50vw;
            font-size: 2.4rem;
        }
        @else if $size == 'large' {
            width: 40vw;    
        }
        @else if $size == 'xLarge' {
            
        }
    }
}