<div id="component-portal" class="container-pink">
    <div>
        Welcome!
    </div>
    <a routerLink="signin">SignIn</a>
    <div>
        - OR - 
    </div>
    <a routerLink="signup">SignUp</a>
    <div>
        To Get Started!
    </div>
    <div style="font-size: 1rem;">
        READ ME: Styling is incomplete, use mobile design mode for best experience. However, registration is working as intended. You can 
        create a new user and gain access to the '/myboard' route. If you wish to test on 
        an existing account which has a list with items you can use username: 'test' 
        password: 'password'.
    </div>
</div>